<h1>Can you <strong><%= @technique %></strong> a <strong><%= @meatcut %></strong>?</h1>

<%#if @match.good_idea == "yes" %>
	<h2>YES YOU CAN!</h2>
<%# else %>
	<h2>I WOULDN'T DO THAT IF I WERE YOU.</h2>
<%# end %>

