<div class="automatch">
<h2>How can you cook <%= @meatcut.name %>?</h2>
<h3>Here are some options:</h3>
<table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Equipment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @techniques.each do |technique| %>
          <tr>
            <td><%= link_to technique.name.capitalize, technique %></td>
            <td><%= technique.description %></td>
            <td><%= technique.equipment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>