/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

/* SITE WIDE */
body, html  {
  background-color: #FAF9F0;
  margin: 0;
  padding: 0;
  z-index: -10;
  background-image: url('../butcher_paper_web.jpg');
  font-family: 'Trebuchet MS', serif;
  line-height: 1.6;
}
#page {
  min-height: 100%;
  position:relative;
  margin-bottom: -2em;
}
#page:after {
  content: "";
  display: block;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'PT Sans', sans-serif !important;
}
a:hover {
  background-color: rgba(0,0,0,0) !important;
}
.container {
	margin: auto;
  display:block;
	text-align: center;
}

/* Header */
ul.primary-nav {
  background:white; 
  width: 100%;
  margin-top: -.1em;
  padding:0;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
}
@media (min-width: 0px) {
  ul.primary-nav {
    height: auto;
  }
  ul.primary-nav li {
    list-style-type: none;
    padding: .5em;
  }
}
@media (min-width: 440px) {
  ul.primary-nav {
    height: 2.4em;
  }
  ul.primary-nav li {
    float: left;
  } 
}
ul.primary-nav li a {
  text-decoration: none;
  padding-left: 1em;
  text-transform: uppercase;
}
ul.primary-nav a:hover, 
ul.primary-nav a:focus {
  color: black;
  font-weight: 500;
}

/* Select */
select {
  font: 200 .8em 'PT Sans', sans-serif !important;
  height: 3em;
  width: 60%;
  display:block;
  margin: auto;
  padding-left: 3.5em;
  background-color: white;
  letter-spacing: .05em;
  text-align: center;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.5);
}
/* Tables */
table {
  width:98%;
  margin:auto;
}
.pure-table {
	margin: auto;
	width:70%;
	margin-bottom:1em;
}
table.pure-table th {
  padding:0 1em;
}
table.pure-table td {
  background-color: rgba(255,255,255,.5);
}


#match_submit {
  background-color: #F20C32;
  font-size: 1.4em;
  font-weight: 700;
  padding: .3em 1em .2em;
  border: none;
  -webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
  text-transform: uppercase;
  border-radius: 3px;
  font-family: 'PT Sans', sans-serif !important;
}
/**/
#match {
  text-align: center;
}
#match_no h2 {
	font: 600 3em 'PT Sans', sans-serif;
  color:red;
  border: solid 4px red;
  border-radius: 50%;
  padding:.7em .9em .5em .8em;
  margin: auto;
  margin-bottom: .5em;
  display: inline-block;
  width:auto;
  transform:rotate(7deg);
}
#match_yes h2 {
	font: 600 4em 'PT Sans', sans-serif;
  border: solid 4px black;
  border-radius: 50%;
  padding:.3em;
  margin: auto;
  margin-top: .5em;
  margin-bottom: .5em;
  display: inline-block;
  width:auto;
  transform:rotate(-10deg);
}
#meatcut_index .tabs,
#technique_index .tabs {
  margin-top: 1em;
}
#meatcut_index table,
#technique_index table,
.automatch table {
  margin:auto;
  margin-top: 3.3rem;
  width:96%;
}

#meatcut_index h3,
#technique_index h3,
.automatch h3,
.automatch h2 {
  text-align: center;
}
#homepage,
#matchme,
#technique_index,
#meatcut_index {
  text-align: center;
}
#homepage h1,
#matchme h1,
#technique_index h1,
#meatcut_index h1 {
  font: 600 4em 'PT Sans', sans-serif;
  border: solid 5px black;
  border-radius: 50%;
  padding:.3em;
  margin: auto;
  margin-top: .3em;
  margin-bottom: .5em;
  display: inline-block;
  width:auto;
  transform:rotate(-10deg);
}
#matchme h3 {
    margin-bottom: 1em;
}
footer {
  /*position: absolute;*/
  background-color: white;
  padding: .2em .2em .1em .4em;
  bottom:0;
  width:100%;
  height: 2em;
  margin-top: 10em;
}