/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body, html {
	padding-left: 10px;
	font-family: 'PT Sans', sans-serif !important;
	background-color: #F2E4E5;
}

.container {
	margin: auto;
	padding: 10px;
	text-align: center;
}

#homepage {
	text-align: center;
}

#homepage h1 {
	font-family: 'PT Sans', sans-serif !important;
	font-size: 5em;
	font-weight: 600;
	background-color: white;
	background-image: url('../steak_slice.jpg');
	border-radius: .5em;
	margin: auto;
}

#match_submit {
	background-color: #F20C32;
	font-size: 1.6em;
	border: white, 5px, solid;
	border-radius: .25em;
	font-family: 'PT Sans', sans-serif !important;
}
