#homepage {
	text-align: center;
}

#homepage h1 {
	font: 600 4em 'PT Sans', sans-serif;
    border: solid 5px black;
    border-radius: 50%;
    padding:.3em;
	margin: auto;
    margin-top: .3em;
    margin-bottom: .5em;
    display: inline-block;
    width:auto;
    transform:rotate(-10deg);
}

#homepage h3 {
    /*margin-top: 1em;*/
}

.tab {
    display: none;
}

.tabs {
    float: left;
    border-bottom: 3px solid black;
    width: 100%;
    /*margin: 2em !important;*/
    list-style: none;

}
.tabs dd {
    border: grey 3px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid black;
    float: left;
    margin-left: 4em;
    /*padding-right: 2em;
    padding-top: .5em;*/
    font: 600 2em 'PT Sans', sans-serif !important;
    margin-bottom: -2px !important;
}
.tabs dd a {
    color: #666;
    font-family: 'PT Sans', sans-serif !important;
    text-decoration: none;
    padding-bottom: .2em;
    background-color: transparent;
    font-size: 1em;
}
.tabs dd a:hover {
    color:grey !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.tabs dd.active {
    border: 3px solid black;
    border-bottom: 2px solid #FAF9F0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: -1px;
    /*padding: .5em 1em;*/
}
.tabs dd.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
    background: transparent;
    position: relative;
    font-size: 1em;
}
dd.active:before{
    border-radius: 8px;
    content: "";
    display: block;
    background-color:red;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:-.8em;
    z-index: 0;

} 
dd.active:after{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 1px 1px 1px #888888;
    content: "";
    display: block;
    background-color:red;
    position: absolute;
    top:calc(100% + 3px);
    left:-.7em;
    right:-.7em;
    bottom:-.8em;
}
/*dd:nth-of-type(2):before {
    background-color: yellow;
}*/
/*dd.active:nth-of-type(3):before {
    background-color: green;
}
 dd.active:nth-of-type(3):after{
    background-color: green;
    left:-.8em;
    right:-.8em;
}*/
dd.active:nth-of-type(2):after, dd.active:nth-of-type(2):before{
    background-color: yellow;
}
dd.active:nth-of-type(3):before {
    background-color: green;
}
 dd.active:nth-of-type(3):after{
    background-color: green;
    left:-.8em;
    right:-.8em;
}

@media screen and (max-width: 830px) {
    .tabs dd, .tabs dd.active {
        margin-left: 1em;
    }
    .tabs dd.active a, .tabs dd a {
        font-size: .6em;
        padding: .9rem 1.5rem;
    }
}
@media (max-width: 400px) {
    .tabs dd, .tabs dd.active {
        margin-left: .5em;
    }
    .tabs dd.active a, .tabs dd a {
        font-size: .6em;
        padding: .3rem .5rem;
    }
}


#match_submit {
	background-color: #F20C32;
	font-size: 1.6em;
	border: white, 5px, solid;
	border-radius: .25em;
	font-family: 'PT Sans', sans-serif !important;
}
